/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Inter:wght@100..900&display=swap');

/* Asterisk wildcard selector: override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic */
h1 {
    font-family: 'Anton SC', sans-serif;
    color: #ffffff;
    letter-spacing: 3px;
}

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Background image */
#background {
    background: url("../images/background.webp") no-repeat center center/cover;
    position: relative;
    width: auto;
}

.btn-roll,
.btn-bingo {
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ce6228;
    border: none;
    font-weight: 600;
    font-size: 150%;
    letter-spacing: 2px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b5562c;
    border: 2px solid #b5562c;
}

/* Header */
header {
    background-color: #ce6228;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#navbar>li {
    margin: 2em 0;
    list-style: none;
}

/* Dropdown toggle in navbar */
nav {
    position: absolute;
    background-color: #ce6228;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav menu */
#nav-menu:checked~nav {
    display: block;
}

#nav-menu {
    display: none;
}

.nav-menu-toggle {
    font-size: 1.5rem;
    color: #ffffff;
}

.active {
    border-bottom: 2px solid #ffffff;
}

#btn-on,
#btn-mute {
    display: inline-block;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #ce6228;
    border: 1px solid #ce6228;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 2px 5px;
    cursor: pointer;
}

/* Main content */
main {
    /* Main takes up space to push footer down */
    flex: 1 0 auto;
    margin-top: 100px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* D20 dice */
.dice-img {
    margin: 0 auto;
    max-width: 250px;
}

#countdown {
    color: #ce6228;
    font-size: x-large;
    padding: 10px;
    font-weight: 700;
}

/* Bingo number grid */
#grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    background-color: #ce6228;
    padding: 10px;
    margin: 15px auto;
}

.grid-box {
    color: black;
    background-color: #ffffff;
    border: 2px solid #ce6228;
    padding: 10px;
    font-size: 150%;
    text-align: center;
}

#playAgain {
    visibility: hidden;
}