/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Inter:wght@100..900&display=swap');

/* Asterisk wildcard selector: override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic */
/* Fix aspect ratio for page loading time */
/* https://web.dev/articles/optimize-cls?utm_source=lighthouse&utm_medium=devtools */
img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Anton SC', sans-serif;
    color: #ffffff;
    letter-spacing: 3px;
}

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

span {
    color: #ce6228;
    font-size: 110%;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

/* Header */
header {
    background-color: #b5562c;
    padding: 5px 30px;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/* Sound Buttons */
#btn-on,
#btn-mute {
    text-transform: uppercase;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 2px 5px;
    cursor: pointer;
    margin-top: 8px;
    width: 30px;
}

/* Show which button is active */
/* https://www.reddit.com/r/twinegames/comments/tn4hhi/help_keeping_an_element_active_after_clicking_on/ */
#btn-on:focus,
#btn-mute:focus {
    background-color: #ffffff;
    color: #b5562c;
    border: 1px solid #ffffff;
}

/* Main content */
/* Background image */
/*https://stock.adobe.com/ie/images/underground-dungeon-fantasy-adventure-tabletop-role-play-game-setting-dark-and-creepy-background-created-with-generative-ai/766587031*/
#background {
    background: url("../images/background.webp") no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: auto;
}

main {
    /* Main takes up space to push footer down */
    flex: 1 0 auto;
    margin-top: 45px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* About & Rules sections */
#scroll-text {
    text-align: center;
    margin: 5px;
}

#about-section,
#rules-section {
    background-color: rgba(0, 0, 0, .8);
    padding: 15px;
    margin: 0 20px;
}

/* Dropdown on text sections  */
/* https://www.w3schools.com/howto/howto_js_accordion.asp */
.dropdown {
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
}

.panel {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.text-panel {
    text-align: left;
    line-height: 20px;
}

.text-panel>h3 {
    color: #ce6228;
    font-size: 90%;
    padding-top: 10px;
    padding-bottom: 5px;
}

.text-panel>p {
    font-size: 80%;
}

h2 {
    font-family: 'Anton SC', sans-serif;
    font-size: 125%;
    color: #ffffff;
    letter-spacing: 2px;
    text-decoration: 2px overline #ce6228;
}

/* Game Section */
.btn-roll,
.btn-home {
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #b5562c;
    border: none;
    font-weight: 600;
    font-size: 150%;
    letter-spacing: 2px;
    padding: 10px 15px;
    cursor: pointer;
}

/* D20 dice */
.dice-img {
    margin: auto;
    display: block;
    width: 200px;
    height: 220px;
}

#countdown {
    color: #ce6228;
    font-size: 160%;
    padding-top: 15px;
    font-weight: 700;
}

/* Previous number rolled panel */
#called-num {
    height: 20px;
    width: auto;
}

/* Bingo number grid */
#grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    background-color: #b5562c;
    padding: 10px;
    margin: 15px auto;
}

.grid-box {
    color: black;
    font-weight: 500;
    background-color: #ffffff;
    border: 2px solid #b5562c;
    padding: 10px;
    font-size: 150%;
    text-align: center;
}

.btn-bingo {
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #b5562c;
    border: none;
    font-weight: 600;
    font-size: 120%;
    letter-spacing: 2px;
    padding: 10px 4em;
}

/* Bingo validation message panel */
#message {
    color: #ffffff;
    font-size: 115%;
    width: auto;
    height: 55px;
    width: auto;
    margin: 10px 10px 30px 10px;
}

/* Error 404 Page */
.error-page-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.dice-404 {
    margin-top: 5em;
    display: block;
    width: 200px;
    height: 220px;
}

.btn-home {
    margin-top: 40px;
}

/* Footer */
footer {
    font-size: 80%;
    background-color: #000000;
    padding: 15px;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    /* Header */
    header {
        height: 60px;
        padding: 5px 30px;
    }

    /* Logo text */
    h1 {
        font-size: 200%;
    }

    /* Sound Buttons */
    #btn-on,
    #btn-mute {
        margin-top: 15px;
    }

    main {
        margin-top: 55px;
    }

    /* About & Rules sections */
    #scroll-text {
        margin: 5px 20px;
    }

    #about-section,
    #rules-section {
        padding: 15px 60px;
    }

    .dropdown:hover {
        background-color: #ce6228;
    }

    .text-panel {
        text-align: center;
    }

    .btn-roll:hover,
    .btn-bingo:hover,
    .btn-home:hover {
        background-color: #ce6228;
    }

}